{% extends "layout.html" %}
{% block title_page %} Main Page{% endblock %}


{% block extra %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='main.js') }}"></script>
<script id="alertTemplate" type="text/x-handlebars-template">
    <div class="alert alert-danger" role="alert">
        Room already exists, try again.
    </div>

</script>
{% endblock %}

{% block body %}
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <span class="navbar-brand " id="welcome">Hi </span>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav mr-auto">

        </div>

    </div>
</nav>

<div class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">Welcome, create or join a channel.</h1>
        <br>
        <div class="row">
            <div id="alert" class="col-md-4 offset-md-4">

            </div>

        </div>
        <br>

        <div class="row">
            <div class="col-md-4 offset-md-4">
                <h1>Create</h1>
                <form id="channelForm" method="POST">
                    <div class="form-group">

                        <input type="text" autofocus class="form-control" id="formValue" placeholder="Channel Name">
                    </div>

                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>

            </div>
        </div>
        <br>
        <br>

        <div class="row">
            <h1 class="col-md-4 offset-md-4">Current Channels</h1>
            <div class="col-md-4 offset-md-4">
                <ul id="items">
                    {% for item in channel_list %}
                    <li><a class="anchorChannel" href="/channel/{{item}}">{{item}}</a></li>
                    {% endfor %}

                </ul>
            </div>
        </div>


    </div>
</div>

{% endblock %}